<!-- Customer say -->

<div class="section sec-testimonials">
    <div class="container">
      <div class="row mb-5 align-items-center">
        <div class="col-md-6">
          <h2 class="font-weight-bold heading text-primary mb-4 mb-md-0">
            Customer Says
          </h2>
        </div>
        <div class="col-md-6 text-md-end">
          <div id="testimonial-nav">
            <span class="prev" data-controls="prev">Prev</span>
  
            <span class="next" data-controls="next">Next</span>
          </div>
        </div>
      </div>
  
      <div class="row">
        <div class="col-lg-4"></div>
      </div>
      <div class="testimonial-slider-wrap">
        <div class="testimonial-slider">
          <div class="item">
            <div class="testimonial">
              <img
                src="images/person_1-min.jpg"
                alt="Image"
                class="img-fluid rounded-circle w-25 mb-4"
              />
              <div class="rate">
                <span class="icon-star text-warning"></span>
                <span class="icon-star text-warning"></span>
                <span class="icon-star text-warning"></span>
                <span class="icon-star text-warning"></span>
                <span class="icon-star text-warning"></span>
              </div>
              <h3 class="h5 text-primary mb-4">James Smith</h3>
              <blockquote>
                <p>
                  &ldquo;"Property Basket helped me sell different properties. I negotiated a great deal, and I'm thrilled with the support!"&rdquo;
                </p>
              </blockquote>
              <p class="text-black-50">Agent</p>
            </div>
          </div>
  
          <div class="item">
            <div class="testimonial">
              <img
                src="images/person_2-min.jpg"
                alt="Image"
                class="img-fluid rounded-circle w-25 mb-4"
              />
              <div class="rate">
                <span class="icon-star text-warning"></span>
                <span class="icon-star text-warning"></span>
                <span class="icon-star text-warning"></span>
                <span class="icon-star text-warning"></span>
                <span class="icon-star text-warning"></span>
              </div>
              <h3 class="h5 text-primary mb-4">Mike Houston</h3>
              <blockquote>
                <p>
                  &ldquo;Working with Property Basket was a breeze. They helped me find the perfect home in just a few weeks!&rdquo;
                </p>
              </blockquote>
              <p class="text-black-50">User</p>
            </div>
          </div>
  
          <div class="item">
            <div class="testimonial">
              <img
                src="images/person_3-min.jpg"
                alt="Image"
                class="img-fluid rounded-circle w-25 mb-4"
              />
              <div class="rate">
                <span class="icon-star text-warning"></span>
                <span class="icon-star text-warning"></span>
                <span class="icon-star text-warning"></span>
                <span class="icon-star text-warning"></span>
                <span class="icon-star text-warning"></span>
              </div>
              <h3 class="h5 text-primary mb-4">Cameron Webster</h3>
              <blockquote>
                <p>
                  &ldquo;I invested in a commercial property through property basket. 
                  Their expertise and guidance made the process straightforward and profitable.&rdquo;
                </p>
              </blockquote>
              <p class="text-black-50">User</p>
            </div>
          </div>
  
          <div class="item">
            <div class="testimonial">
              <img
                src="images/person_4-min.jpg"
                alt="Image"
                class="img-fluid rounded-circle w-25 mb-4"
              />
              <div class="rate">
                <span class="icon-star text-warning"></span>
                <span class="icon-star text-warning"></span>
                <span class="icon-star text-warning"></span>
                <span class="icon-star text-warning"></span>
                <span class="icon-star text-warning"></span>
              </div>
              <h3 class="h5 text-primary mb-4">Dave Smith</h3>
              <blockquote>
                <p>
                  &ldquo;Property basket is a good place for land sales and property management&rdquo;
                </p>
              </blockquote>
              <p class="text-black-50">Agent</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>