<div class="row justify-content-between mb-5">
    <div class="col-lg-7 mb-5 mb-lg-0 order-lg-2">
      <div class="img-about dots">
        <img src="images/hero_bg_3.jpg" alt="Image" class="img-fluid" />
      </div>
    </div>
    <div class="col-lg-4">
      <div class="d-flex feature-h">
        <span class="wrap-icon me-3">
          <span class="icon-home2"></span>
        </span>
        <div class="feature-text">
          <h3 class="heading">100K Land & Properties</h3>
          <p class="text-black-50">
            Discover a diverse selection of land and properties to suit your needs. 
            Whether you're looking for residential, commercial, or investment opportunities, 
            we have options to explore.
          </p>
        </div>
      </div>

      <div class="d-flex feature-h">
        <span class="wrap-icon me-3">
          <span class="icon-person"></span>
        </span>
        <div class="feature-text">
          <h3 class="heading">Top Rated Agents</h3>
          <p class="text-black-50">
            Connect with our top-rated agents who are dedicated to helping you navigate 
            the real estate market with expertise and professionalism.
          </p>
        </div>
      </div>

      <div class="d-flex feature-h">
        <span class="wrap-icon me-3">
          <span class="icon-security"></span>
        </span>
        <div class="feature-text">
          <h3 class="heading">Legit Properties</h3>
          <p class="text-black-50">
            Explore our portfolio of verified properties, 
            ensuring transparency and trust in every transaction. 
            Your peace of mind is our priority.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row section-counter mt-5">