<div
class="hero page-inner overlay"
style="background-image: url('images/hero_bg_3.jpg')"
>
<div class="container">
  <div class="row justify-content-center align-items-center">
    <div class="col-lg-9 text-center mt-5">
      <h1 class="heading" data-aos="fade-up">Welcome Back</h1>

      <nav
        aria-label="breadcrumb"
        data-aos="fade-up"
        data-aos-delay="200"
      >
        <ol class="breadcrumb text-center justify-content-center">
          <li
            class="breadcrumb-item active text-white-50"
            aria-current="page"
          >
            Login
          </li>
        </ol>
      </nav>
    </div>
  </div>
</div>
</div>

<div class="card bg-light">
    <article class="card-body mx-auto" style="max-width: 400px;">
        <h4 class="card-title mt-3 text-center"><i class="fa-solid fa-user-plus"></i>  Sign In</h4>
        <p class="text-center">Login to your account</p>
        <!-- <p class="text-center">
            <a href="" class="btn btn-block btn-google"> <i class="fab fa-google"></i>   Sign In via Google</a>
            <a href="" class="btn btn-block btn-facebook"> <i class="fab fa-facebook-f"></i>   Sign In via facebook</a>
        </p>
        <p class="divider-text">
            <span class="bg-light">OR</span>
        </p> -->
        <form class="form--login">
          <div class="form-group">
              <label for="email">Email address</label>
              <div class="input-group">
                  <div class="input-group-prepend">
                      <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                  </div>
                  <input id="email" name="email" class="form-control" placeholder="Email address" type="email">
              </div>
          </div> <!-- form-group// -->
      
          <div class="form-group">
              <label for="password">Password</label>
              <div class="input-group">
                  <div class="input-group-prepend">
                      <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                  </div>
                  <input id="password" name="password" class="form-control" placeholder="Password" type="password" minlength="8">
              </div>
          </div> <!-- form-group// --> 
      
          <div class="form-group text-center">
              <button type="submit" class="btn--login w-100 btn btn-primary btn-block btn--login">Sign In</button>
          </div> <!-- form-group// -->      
      
          <p class="text-center">Don't have an account? <a href="/register">Register</a></p>                                                                 
      </form>
      
    </article>
    </div> 