   .site-footer
      .container
        .row
          .col-lg-4
            .widget
              h2
                a(href="/" style="color: #00204a; text-decoration: none;") Land and Property Management
              address 1, Lekki Nigeria.
              ul.list-unstyled.links
                li
                  a(href="tel://+2348123456789") +234812-234-5678
                li
                  a(href="tel://+2348123456789") +234812-234-5678
                li
                  a(href="mailto:info@landandpropertymanagement.com") info@landandpropertymanagement.com
          .col-lg-4
            .widget
              h3 Sources
              ul.list-unstyled.float-start.links
                li
                  a(href="/about") About us
                li
                  a(href="/services") Services
                li
                  a(href="/vision") Vision
                li
                  a(href="/mission") Mission
                li
                  a(href="/terms") Terms
                li
                  a(href="/privacy") Privacy
              ul.list-unstyled.float-start.links
                li
                  a(href="/partners") Partners
                li
                  a(href="/business") Business
                li
                  a(href="#") Careers
                li
                  a(href="#") Blog
                li
                  a(href="#") FAQ
                li
                  a(href="#") Creative
          .col-lg-4
            .widget
              h3 Links
              ul.list-unstyled.links
                li
                  a(href="#") Our Vision
                li
                  a(href="#") About us
                li
                  a(href="#") Contact us
              ul.list-unstyled.social
                li
                  a(href="#")
                    span.icon-instagram
                li
                  a(href="#")
                    span.icon-twitter
                li
                  a(href="#")
                    span.icon-facebook
                li
                  a(href="#")
                    span.icon-linkedin
                li
                  a(href="#")
                    span.icon-pinterest
                li
                  a(href="#")
                    span.icon-dribbble
        .row.mt-5
          .col-12.text-center
            // 
            // **==========
            // NOTE: 
            // Please don't remove this copyright link unless you buy the license here https://untree.co/license/  
            // **==========
            p
              | Copyright &copy;
              script.
                document.write(new Date().getFullYear());
              | . 
              a(href="/") Land and Property Management
            div
              | Developed by 
              a(href="/" target="_blank") MDEV

    